/*CSS Library */
/* COMPONENTS */

@import url('components/topnavbar.css');
@import url('components/signup.css');
@import url('components/button_styles.css');
@import url('components/login.css');
@import url('components/aboutus.css');
@import url('components/contactus.css');
@import url('components/whymuse.css');
@import url('components/flash_message_styles.css');
@import url('components/book_form.css');
@import url('components/index.css');
@import url('components/button.css');

/* amasha */

















/*gayashan*/













/*FONTS*/
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}
body{
    font-family: Poppins-Regular;
    font-size: medium;
}