/*CSS Library */
/* COMPONENTS */

@import url('components/topnavbar.css');
@import url('components/signup.css');
@import url('components/login.css');
@import url('components/aboutus.css');
@import url('components/contactus.css');
@import url('components/whymuse.css');
@import url('components/flash_message_styles.css');
@import url('components/book_form.css');
@import url('components/index.css');
@import url('components/button.css');
@import url('components/parent/userprofile.css');
@import url('components/books/book_preview.css');
@import url('components/sidebar.css');
@import url('components/parent/useranalytics.css');
@import url('components/books/book_display.css');
@import url('components/books/book_token.css');

/* amasha */
@import url('components/admin/sidebar.css');
@import url('components/admin/dashboard.css');
@import url('components/admin/userprofile.css');













/*gayashan*/













/*FONTS*/
@font-face {
    font-family: Poppins-Regular;
    src: url(fonts/Poppins-Regular.ttf);
}
body{
    font-family: Poppins-Regular;
    font-size: medium;
}