.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.login-photo{
    width: 50%;
    max-width: 600px;
    height: auto;
}

.login-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 400px;
    align-items: center;
}


.login .logo h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.login form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.login img {
    max-width: 100%;
    height: auto;
}
.login .logo{
    width:200px;
    height: 150px;
    align-self: c;
}
/* Responsive Design */
@media screen and (max-width: 1024px) {
    .login-container {
        flex-direction: column; /* Stack elements */
        align-items: center;
    }

    .login-photo {
        width: 80%;
        max-width: 400px;
    }

    .login-box {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .login-photo {
        width: 100%;
    }

    .login-box {
        width: 100%;
        padding: 30px;
    }
}
