.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.signup-photo{
    width: 50%;
    max-width: 600px;
    height: auto;
}

.signup-box {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 400px;
    align-items: center;
}


.signup .logo h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.signup form input {
    width: 100%;
    padding: 15px;
    
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 15px;
}
.signup textarea{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.signup img {
    max-width: 100%;
    height: auto;
}
.signup .logo{
    width:200px;
    height: 150px;
    align-self: c;
}

.form-invalid {
    color: red; 
    font-size: 14px; 
    font-weight: bold;
    margin-top: 5px;
    display: block;
}

.signup button {
    width: 100%;
    padding: 15px;
    background-color: #ff9900;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    justify-content: center;
}

.signup button :hover {
    background-color: #e68a00;
}

/* profile image upload*/
.signup .form-drag-area{
    background-color: white;
    margin-bottom: 5px;
}

.signup .form-drag-area.active{
    border: 2px dashed #888888;
    background-color: #d8d8d8;
}
.signup .form-drag-area .right-content{
    margin: auto;
}

/* profile picture */
.form-drag-area {
    background-color: #eeeded;
    height: 100px;
    width: 95%;
    border: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    transition: 300ms ease-in;
    padding: 10px;
}

.form-drag-area.active {
    border: 2px dashed #888888;
    background-color: #d8d8d8;
}

.form-drag-area .right-content {
    margin: 0 auto;
}

.form-drag-area .form-upload {
    background-color: #494949;
}

.form-drag-area .icon {
    margin: 0 auto;
}

.form-drag-area .icon img {
    border-radius: 50%;
}

.form-drag-area .description {
    font-size: 13px;
    font-weight: 500;
    color: #494949;
}

.form-drag-area .form-upload {
    background-color: #7474eb;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 3px;
    width: 100px;
}

.form-drag-area .form-upload:hover {
    opacity: 1;
}

/* form validations */
.form-validation {
    padding: 5px;
    transition: .2s all;
}

.form-validation.active {
    opacity: 1;
    height: auto;
}

.form-validation > div {
    opacity: 0.5;
}

.form-validation > div.active {
    opacity: 1;
    font-weight: 600;
    color: #28a745;
}

.form-validation > div.img {
    opacity: 1;
}


/* Responsive Design */
@media screen and (max-width: 1024px) {
    .signup-container {
        flex-direction: column; /* Stack elements */
        align-items: center;
    }

    .signup-photo {
        width: 80%;
        max-width: 400px;
    }

    .signup-box {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .signup-photo {
        width: 100%;
    }

    .signup-box {
        width: 100%;
        padding: 30px;
    }
}
