/* General styling for the navbar */
.topnavbar ul {
    list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                justify-content: space-between;
                align-items: center;
}

/* Style for the logo */
.topnavbar .logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.topnavbar .logo-container img {
    width: 100%; 
    height: 100px;
    margin-right: 10px;
}

.topnavbar .logo-container h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

/* Styling the nav links (centered with rounded background) */
.topnavbar .menu {
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 50px;
    background-color: #E0E0E0;
    margin: 0 auto;
}


.topnavbar .menu li {
    padding: 0 15px;
}

.topnavbar .menu li a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.topnavbar .menu li a:hover {
    color: purple;
}

/* Style for the login button */
.topnavbar .login-button {
    background-color: orange;
    padding: 10px 25px;
    border-radius: 25px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}

.topnavbar .login-button a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.topnavbar .login-button:hover {
    background-color: #ff9933;
}



