  .book-preview-container {
        max-width: 1100px;
        margin: 40px auto;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 20px;
    }

    .book-cover {
        flex: 1;
        min-width: 250px;
        text-align: center;
    }

    .book-cover img {
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    }

    .book-details {
        flex: 2;
        min-width: 300px;
    }

    .book-details h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .book-details p {
        font-size: 1.1rem;
        margin: 5px 0;
    }

    .about-section {
        max-width: 900px;
        margin: 40px auto;
        padding: 0 20px;
    }

    .about-section h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .about-section p {
        line-height: 1.6;
        font-size: 1.1rem;
    }

/* Style for  button */
.book-preview-container .book-details .cta-button {
    background-color: #faba26;
    padding: 15px 30px;
    border-radius: 70px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    border: none;
}
